html{font-family: 'Noto Serif SC', serif;;-ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%}

body{margin:0}
{display:block} {display:inline-block;}

.card{
    background-color: #EED6E2;
}